---
import { getCollection } from "astro:content";
import Container from "@components/Container.astro";
import PageLayout from "@layouts/PageLayout.astro";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { dateRange } from "@lib/utils";
import { SITE, HOME, SOCIALS } from "@consts";

const blog = (await getCollection("blog"))
  .filter(post => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_POSTS_ON_HOMEPAGE);

const projects = (await getCollection("projects"))
  .filter(project => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0,SITE.NUM_PROJECTS_ON_HOMEPAGE);

const allwork = (await getCollection("work"))
  .sort((a, b) => new Date(b.data.dateStart).valueOf() - new Date(a.data.dateStart).valueOf())
  .slice(0,SITE.NUM_WORKS_ON_HOMEPAGE);

const work = await Promise.all(
  allwork.map(async (item) => {
    const { Content } = await item.render();
    return { ...item, Content };
  })
);

---

<PageLayout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <h4 class="animate font-semibold text-black dark:text-white">
    Hey there! I'm Alexander Feoktistov, a team and operational manager with over two decades' experience in technology, data, and innovation
    </h4>
    <div class="space-y-16">
      <section>
        <article class="space-y-4">
        <p class="animate">
         <strong>(2021 – )</strong>&nbsp;<Link href="https://www.linkedin.com/company/publicis-groupe" external>Publicis Groupe</Link>. I lead the Development and Data Science team of the LePont business unit. This team is dedicated to providing innovation services for Groupe's top-tier clients around the world. We work with the US, UK, Western Europe and Middle East markets. We develop our own proprietary products for performance media optimization, platform integration and dynamic creative optimization.
        </p>
        <p class="animate">Before 2022 I was Chief Data and Technology Officer of Publicis Russia with more that 100 employees in Development, E-commerce, Research and Data science teams.
        </p>
        <p class="animate">
        <strong>(2017 – 2020)</strong>&nbsp;<Link href="https://ohm.agency/" external>OHM Solutions</Link>. The agency we have built with my partners ranks as one of the most successful independent media performance agencies on the market with a strong portfolio of top-tier clients.
        </p>
          <p class="animate">
          <strong>(2011 – 2016)</strong>&nbsp;<Link href="https://www.crunchbase.com/organization/yandex" external>Yandex</Link> Market (The largest Marketplace in CIS). I have progressed from sole marketing manager to Business Development director. Over the course of my career, I have been responsible for digital, offline, and performance marketing, product management, distribution, and external monetization. I have also led successful M&A deals such as <Link href="https://techcrunch.com/2014/12/09/yandex-buys-sovetnik-to-expand-its-e-commerce-business-with-better-recommendations/" external>Metabar Advisor</Link>, a highly popular price comparison tool.
          </p>
        </article>
      </section>

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Latest posts
          </h5>
          <Link href="/blog">
            See all posts
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {blog.map(post => (
            <li>
              <ArrowCard entry={post} />
            </li>
          ))}
        </ul>
      </section> -->
      <section class="animate space-y-4">
        <h5 class="font-semibold text-black dark:text-white">
          Would you like to discuss how we can work together? Feel free to contact me!
        </h5>

        <ul class="flex flex-wrap gap-2">
          {SOCIALS.map(SOCIAL => (
            <li class="flex gap-x-2 text-nowrap">
              <Link href={SOCIAL.HREF} external aria-label={`${SITE.NAME} on ${SOCIAL.NAME}`}>
                {SOCIAL.NAME}
              </Link>
            </li>
          ))}
          <li class="line-clamp-1">
            <Link href={`mailto:${SITE.EMAIL}`} aria-label={`Email ${SITE.NAME}`}>
              {SITE.EMAIL}
            </Link>
          </li>
        </ul>
      </section>
      <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Work Experience
          </h5>
          <Link href="/work">
            In details
          </Link>
        </div>
        <ul class="flex flex-col space-y-4">
          {work.map(entry => (
            <li>
              <div class="text-sm opacity-75">
                {dateRange(entry.data.dateStart, entry.data.dateEnd)}
              </div>
              <div class="font-semibold text-black dark:text-white">
                {entry.data.company}
              </div>
              <div class="text-sm opacity-75">
                {entry.data.role}
              </div>
              <article>
                <entry.Content />
              </article>
            </li>
          ))}
        </ul>
      </section>

      <!-- <section class="animate space-y-6">
        <div class="flex flex-wrap gap-y-2 items-center justify-between">
          <h5 class="font-semibold text-black dark:text-white">
            Recent projects
          </h5>
          <Link href="/projects">
            See all projects
          </Link>
        </div>
        <ul class="flex flex-col gap-4">
          {projects.map(project => (
            <li>
              <ArrowCard entry={project} />
            </li>
          ))}
        </ul>
      </section>-->


    </div>
  </Container>
</PageLayout>
